body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
}


nav {
  margin-bottom: 30px;
}
nav a {
  color: #ff66cc;
  margin: 0 10px;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
